<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <body>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <img th:src="${profile.get('picture')}" th:attr="alt=${profile.get('name')}"/>
            <h2 th:text="${profile.get('name')}"></h2>
            <p th:text="${profile.get('email')}"></p>
            <a th:href="@{/logout}">Log Out</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/stock/ticker-data}" th:object="${tickets}" method="post">
                <input type="text" id="data" name="data" />
                <button type="submit">Get tickets</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/stock/historical-data}" th:object="${historical}" method="post">
                <input type="text" id="tickets" name="tickets" />
                <input type="date" id="date" name="date" />
                <button type="submit">Historical data</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/currency/all-exchange}">All Exchange</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/currency/convert}" th:object="${convert}" method="post">
                <input type="text" id="from" name="from"/>
                <input type="text" id="to" name="to"/>
                <input type="text" id="amount" name="amount"/>
                <button type="submit">Convert</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/account/info}">Account info</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/account/transact}" th:object="${transact}" method="post">
                <input type="text" id="source" name="source"/>
                <input type="text" id="target" name="target"/>
                <input type="text" id="amount2" name="amount"/>
                <button type="submit">Transact</button>
            </form>
        </div>
    </body>
</html>